.products-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 16px;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 24px 24px 24px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
}

.product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  margin-bottom: 24px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  height: 40px;
  margin-bottom: 8px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 8px;
}

.product-rating-count {
  color: #017cb6;
  margin-top: 3px;
  cursor: pointer;
}

.product-price {
  font-weight: 700;
  margin-bottom: 8px;
}

.product-quantity-container {
  margin-bottom: 16px;
}

.quantity-selector {
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
  color: rgb(33, 33, 33);
  border: 1px solid rgb(213, 217, 217);
  box-shadow: 0 2px 4px rgba(213, 217, 217, 0.5);
  cursor: pointer;
}

.quantity-selector:focus {
  outline: 2px solid rgb(255, 153, 0);
}

.added-to-cart-message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}

.added-to-cart-message img {
  width: 20px;
  height: 20px;
}

.added-to-cart-message div {
  margin-left: 6px;
  color: rgb(6, 125, 98);
}

.add-to-cart-btn {
  width: 100%;
  padding: 8px;
  border-radius: 64px;
}

.primary-btn {
  border: none;
  background-color: rgb(255, 216, 20);
  box-shadow: 0 2px 4px rgba(213, 217, 217, 0.5);
  cursor: pointer;
  transition: background-color 0.15ms;
}

.primary-btn:hover {
  background-color: rgb(247, 202, 0);
}

main {
  margin-top: 60px;
}