.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.orders-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 48px;
}

.order-container {
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  background-color: #F0F2F2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px 24px;
}

.order-header .left-section {
  display: flex;
  flex-shrink: 0;
  column-gap: 48px;
  margin-right: 48px;
}

.order-header .right-section {
  flex-shrink: 1;
}

.order-header .order-label {
  font-weight: 500;
  margin-bottom: 4px;
}

.order-details-container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 40px 24px;
}

.product-container {
  display: grid;
  grid-template-columns: 108px 1fr 216px;
  column-gap: 32px;
}

.order-details-container .product-image {
  width: 100%;
}

.product-name {
  font-weight: 700;
}

.product-name,
.product-delivery-date {
  margin-bottom: 4px;
}

.product-quantity {
  margin-bottom: 8px;
}

.buy-again-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  font-size: 16px;
  width: 140px;
  height: 36px;
  border-radius: 8px;
}

.buy-again-icon {
  width: 24px;
}

.track-package-btn-container {
  align-self: start;
}

.track-package-btn {
  width: 100%;
  font-size: 16px;
  padding: 8px;
}

@media (max-width: 748px) {
  .product-container {
    display: grid;
    grid-template-columns: 108px 1fr;
  }

  .track-package-btn-container {
    grid-column: 2;
    width: 140px;
  }

  .buy-again-btn {
    margin-bottom: 8px;
  }
}

@media (max-width: 520px) {
  .order-header {
    flex-direction: column;
    padding: 14px;
  }

  .order-header .left-section {
    flex-direction: column;
  }

  .order-header .order-date,
  .order-header .order-total,
  .order-header .right-section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
  }
}

@media (max-width: 450px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .product-image-container {
    text-align: center;
    margin-bottom: 16px;
  }

  .product-image {
    max-width: 148px;
    max-height: 148px;
  }

  .product-name {
    margin-bottom: 8px;
  }

  .product-quantity {
    margin-bottom: 16px;
  }

  .buy-again-btn {
    width: 100%;
    margin-bottom: 16px;
  }

  .track-package-btn-container {
    grid-column: auto;
    width: 100%;
  }

  .track-package-btn {
    padding: 10px;
  }
}