.amazon-header {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  height: 60px;
  background-color: rgb(19, 25, 33);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.right-section,
.middle-section,
.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  width: 180px;
  padding: 6px;
}

.middle-section {
  flex: 1;
  max-width: 850px;
}

.left-section {
  width: 180px;
}

.amazon-logo {
  width: 100px;
  margin-top: 4px;
}

.search-input {
  flex: 1;
  height: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  padding-left: 16px;
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-input:focus {
  outline: solid 2px rgb(255, 153, 0);
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 44px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background-color: rgb(254, 189, 105);
  cursor: pointer;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.amazon-header .header-link {
  padding: 6px;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  transition: border 0.15ms;
}

.amazon-header .header-link:hover {
  border: 1px solid white;
}

.orders-link {
  display: flex;
  flex-direction: column;
}

.cart-link {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-quantity {
  position: absolute;
  top: 4px;
  left: 24px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(240, 136, 4);
}

.returns-text {
  font-size: 14px;
}

.orders-text {
  font-size: 16px;
  font-weight: 700;
}

.cart-icon {
  width: 48px;
}

.cart-text {
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
}