.amazon-header {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  height: 60px;
  background-color: rgb(19, 25, 33);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.amazon-header .left-section,
.amazon-header .middle-section,
.amazon-header .right-section {
  display: flex;
  align-items: center;
}

.amazon-header .left-section {
  width: 180px;
  padding: 6px;
}

.amazon-header .middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 16px;
  margin-right: 16px;
}

.amazon-header .right-section {
  justify-content: end;
  flex-shrink: 0;
  width: 180px;
}

.amazon-header .amazon-logo {
  width: 100px;
  margin-top: 4px;
}

.amazon-header .middle-section
.search-input {
  flex: 1;
  width: 0;
  height: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  padding-left: 16px;
  font-family: Roboto, Arial;
  font-size: 16px;
}

.amazon-header .middle-section
.search-input:focus {
  outline: solid 2px rgb(255, 153, 0);
}

.amazon-header .middle-section
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 44px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background-color: rgb(254, 189, 105);
  cursor: pointer;
}

.amazon-header .middle-section
.search-btn .search-icon {
  width: 24px;
  height: 24px;
}

.amazon-header .header-link {
  padding: 6px;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  transition: border 0.15ms;
}

.amazon-header .header-link:hover {
  border: 1px solid white;
}

.amazon-header .orders-link {
  display: flex;
  flex-direction: column;
}

.amazon-header .returns-text {
  font-size: 14px;
}

.amazon-header .orders-text {
  font-size: 16px;
  font-weight: 700;
}

.amazon-header .cart-link {
  position: relative;
  display: flex;
  align-items: center;
}

.amazon-header .cart-quantity {
  position: absolute;
  top: 4px;
  left: 22px;
  width: 26px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgb(240, 136, 4);
}

.amazon-header .cart-icon {
  width: 48px;
}

.amazon-header .cart-text {
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
}