body {
  font-family: Roboto, Arial;
  margin: 0;
}

p {
  margin: 0;
}

.limit-text-to-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.primary-btn {
  border: none;
  background-color: rgb(255, 216, 20);
  box-shadow: 0 2px 4px rgba(213, 217, 217, 0.5);
  cursor: pointer;
  transition: background-color 0.15ms;
}

.primary-btn:hover {
  background-color: rgb(247, 202, 0);
}