body {
  font-family: Roboto, Arial;
  margin: 0;
}

p {
  margin: 0;
}

main {
  margin-top: 60px;
}

.limit-text-to-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}