.checkout-header {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  height: 60px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.checkout-header .header-content {
  display: flex;
  width: 100%;
  max-width: 1100px;
}

.checkout-header .left-section,
.checkout-header .middle-section,
.checkout-header .right-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-header .left-section,
.checkout-header .right-section {
  width: 150px;
}

.checkout-header .left-section {
  justify-content: start;
}

.checkout-header .right-section {
  justify-content: end;
}

.checkout-header .amazon-logo {
  width: 100px;
  margin-top: 18px;
}

.checkout-header .amazon-logo-mobile {
  display: none;
  height: 35px;
  margin-top: 4px;
}

.checkout-header .middle-section {
  font-size: 24px;
  font-weight: 500;
  flex: 1;
}

.checkout-header .middle-section 
.return-to-home-link {
  color: rgb(0, 113, 133);
  text-decoration: none;
}

@media (max-width: 1000px) {
  .checkout-header .middle-section {
    font-size: 20px;
  }
}

@media (max-width: 580px) {
  .checkout-header .amazon-logo-mobile {
    display: block;
  }

  .checkout-header .amazon-logo {
    display: none;
  }

  .checkout-header .left-section,
  .checkout-header .right-section {
    width: unset;
  }
}